:root {
	font-size: 16px;
	font-family: "SF Regular";
	color: var(--accent);
}

// ::selection {
// 	background-color: transparent;
// }

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.page-content {
	position: relative;
	height: 100%;
	max-width: 1820px;
	margin: 0 auto;
	padding-top: 30px;
}

.hidden {
	display: none !important;
}
