.button {
	color: var(--alternate);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background: var(--button-background);
	background-color: var(--accent);
	cursor: pointer;
	border-radius: 25px;
	flex-shrink: 0;
	* {
		&::selection {
			background-color: transparent;
		}
	}
	&:hover {
		opacity: 0.9;
	}
	&:active {
		opacity: 0.5;
	}
	&--text {
		font-family: "SF Bold";
		padding: 0 30px;
		width: auto !important;
	}
	&--text-small {
		border: 1px solid transparent;
		font-family: "SF Regular";
		padding: 0 15px;
		width: auto !important;
	}
	&--alt {
		background: transparent;
		border: 1px solid var(--accent);
	}
	&--reminder {
		height: 35px;
		width: 100%;
		font-size: 0.875rem;
		text-transform: capitalize;
	}
	&--off {
		color: rgba(0, 0, 0, 0.5) !important;
		border: 1px solid rgba(0, 0, 0, 0.05);
		background: none !important;
	}
	&--setting {
		height: initial;
		width: initial;
		padding: 10px 30px;
		display: inline-block;
		margin: 0 10px 10px 0;
	}
	&--warning {
		@extend .button--setting;
		margin-top: 10px;
	}
}
