.card {
	max-width: 410px;
	width: 100%;
	background-color: var(--alternate);
	margin-bottom: 40px;
	border-radius: 2px;
	box-shadow: var(--drop-shadow);
	padding: 15px;
	&__title {
		display: block;
		margin-bottom: 5px;
		font-size: 0.875rem;
		color: var(--accent);
		opacity: 0.5;
	}
}
