.clock {
	top: 0;
	position: sticky;
	color: var(--accent);
	* {
		display: block;
	}
	&__greeting,
	&__date {
		font-size: 1.125rem;
		opacity: 0.5;
		width: 70%;
	}
	&__time {
		font-size: 3rem;
		font-family: "SF Bold";
		line-height: 90%;
	}
	&--sticky {
		padding: 15px 0;
		z-index: 1;
		.clock {
			&__greeting {
				display: none;
			}
		}
	}
}

.gradient-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 125px;
	width: 100%;
	background: linear-gradient(180deg, var(--alternate) 65%, transparent 100%);
	z-index: 1;
}
