.day {
	display: flex;
	flex-direction: column;
	height: 364px;
	box-shadow: var(--drop-shadow);
	color: var(--accent);
	background-color: var(--alternate);
	border-radius: 2px;
	overflow: hidden;
	&.someday {
		order: 1;
		&.transparent {
			opacity: 0.2;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__head {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: space-between;
		height: 45px;
		width: 100%;
		border-bottom: 1px solid var(--accent);
		padding: 0 15px;
	}
	&__date {
		font-size: 0.875rem;
		font-family: "SF Bold";
	}
	&__badges {
		display: flex;
		font-size: 0;
		* {
			padding: 0 6px;
			text-align: center;
			display: block;
			height: 16px;
			min-width: 16px;
			font-size: 0.625rem;
			font-family: "SF Bold";
			background-color: var(--accent);
			color: var(--alternate);
			border-radius: 15px;
			margin-right: 8px;
			&:last-of-type {
				margin: 0;
			}
		}
	}
	&__weather {
		cursor: pointer;
	}
	&__body {
		flex-grow: 1;
		padding: 0 15px;
		overflow: auto;
	}
	&__tasks-wrapper {
		min-height: 100%;
		background-image: url("../img/divider.png");
	}
}
