.reminder {
	padding-bottom: 5px;
	&__task {
		color: var(--accent);
		display: flex;
		align-items: center;
		height: 40px;
		&:not(:last-of-type) {
			border-bottom: 1px solid var(--task-hover);
		}
	}
}
