.settings {
	max-width: 550px;
	height: 350px;
	display: grid;
	grid-template-columns: 135px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 15px 15px 15px 0;
	&__sidebar {
		color: var(--accent);
		font-size: 0.875rem;
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		border-right: 1px solid var(--task-hover);
		overflow: hidden;
	}
	&__section {
		padding-left: 15px;
		overflow: auto;
	}
	&__title {
		@extend .card__title;
		margin-top: 10px;
	}
	&__text {
		color: var(--accent);
		display: block;
		font-size: 0.875rem;
		line-height: 180%;
		strong {
			font-family: "SF Bold";
		}
		#personal-provider {
			text-transform: capitalize;
		}
	}
	&__option {
		cursor: pointer;
		padding: 10px 0;
		border-bottom: 1px solid var(--task-hover);
		&:last-of-type {
			border-top: 1px solid var(--task-hover);
			border-bottom: none;
			margin-top: auto;
		}
		&:hover {
			background-color: var(--task-hover);
			box-shadow: -15px 0 0 1px var(--task-hover), 15px 0 0 1px var(--task-hover);
		}
		&.active {
			background-color: var(--task-hover);
			box-shadow: -15px 0 0 1px var(--task-hover), 15px 0 0 1px var(--task-hover);
		}
	}
	&__group-title {
		display: none;
		color: var(--accent);
		width: 100%;
		background-color: var(--task-hover);
		padding: 15px;
		border-radius: 2px;
	}
	#mobile-signout {
		margin: 0;
		cursor: pointer;
		& > span {
			margin: 0;
		}
	}
	.mobile-drawer {
		margin-top: 20px;
	}
}
