.sign-up {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	max-width: 750px;
	background-color: var(--alternate);
	padding: 50px 100px;
	box-shadow: 6px 0 8px rgba(0, 0, 0, 0.02), 12px 0 16px rgba(0, 0, 0, 0.02), 24px 0 32px rgba(0, 0, 0, 0.02);
	border-radius: 4px;
	&__heading {
		color: var(--accent);
		font-family: "SF Bold";
		font-size: 4.5rem;
		line-height: 110%;
		margin: 60px 0;
	}
	&__blurb {
		color: var(--accent);
		opacity: 0.4;
		display: block;
		font-size: 1.125rem;
		line-height: 150%;
		&:last-of-type {
			margin: 10px 0 50px 0;
		}
	}
	.button,
	.input__text {
		i {
			margin-right: 10px;
		}
		width: 50%;
		margin-bottom: 30px;
	}
	&__footer {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: column;
		width: 100%;
		margin-top: auto;
		span {
			font-size: 0.875rem;
			color: var(--accent);
			opacity: 0.4;
			&:nth-last-of-type(-n + 2) {
				text-align: right;
			}
		}
	}
	&-error {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(240, 240, 240, 0.4);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&__modal {
			padding: 15px;
			max-width: 400px;
			background-color: var(--alternate);
			box-shadow: 6px 0 8px rgb(0 0 0 / 2%), 12px 0 16px rgb(0 0 0 / 2%), 24px 0 32px rgb(0 0 0 / 2%);
			border-radius: 4px;
			margin: 0 10px 40px 10px;
			img {
				margin: 0 auto 15px auto;
			}
			span {
				display: block;
				text-align: center;
			}
			#error-email {
				margin-top: 15px;
				font-family: "SF Bold";
			}
		}
	}
}

.sign-in__buttons {
	display: flex;
	.button:first-of-type {
		margin-right: 15px;
	}
}
